body{
	margin: 0 auto;
	width: 80%;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

#boton-agregar {
    text-align: right;
}

.save{
	width: 100px;
}

.container_form{
	width: 50%;
	margin: 0 auto;
}

img{
	width: 20% !important;
	height: 105px;
}

.bg-7E3E98{
	background-color: #7E3E98;
}
.color-0182C8{
	color: #0182C8;
}